[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "oh-my-zsh/plugins/kubectx"]
	path = oh-my-zsh/plugins/kubectx
	url = https://github.com/unixorn/kubectx-zshplugin.git
